[submodule "vendor/CodeIgniter"]
	path = vendor/CodeIgniter
	url = git://github.com/EllisLab/CodeIgniter.git
[submodule "vendor/predis"]
	path = vendor/predis
	url = git://github.com/nrk/predis.git
[submodule "vendor/pheanstalk"]
	path = vendor/pheanstalk
	url = git://github.com/pda/pheanstalk.git
[submodule "vendor/yaml"]
	path = vendor/yaml
	url = git://github.com/fabpot/yaml.git
[submodule "vendor/facebook-php-sdk"]
	path = vendor/facebook-php-sdk
	url = git://github.com/facebook/facebook-php-sdk.git
