[submodule "vendor/facebook/php-sdk"]
	path = vendor/facebook/php-sdk
	url = http://github.com/facebook/php-sdk.git
[submodule "vendor/predis"]
	path = vendor/predis
	url = http://github.com/nrk/predis.git
